/* Global SCSS entry point */
@use "./base/variables";
@use "./base/typography";
@use "./base/reset";
@use "./base/mixins";

@use "./layout/layout-shell";
@use "./layout/navbar";
@use "./layout/footer";
@use "./layout/snackbar";

@use "./pages/products";
@use "./pages/auth";
@use "./pages/cart";
@use "./pages/admin";

@use "./components/product-modal";