@use "./variables" as *;
@mixin respond-sm {
  @media (max-width: $bp-sm) {
    @content;
  }
}

@mixin respond-md {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin respond-lg {
  @media (max-width: $bp-lg) {
    @content;
  }
}
